{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body_class %}no-scroll{% endblock %}

{% block content %}
    <!-- Step 1: Welcome Message -->
    <div id="step1" class="form-section bg-light">
        <h2>Welcome!</h2>
        <h5>Let's make your resume Crunchy?</h5>
        {% if current_user.is_authenticated %}
        <button class="btn btn-primary" id='step1-btn' >Yes, start now!</button>
        {% else %}
        <h4><a href="{{ url_for('main.login') }}">Login</a> or <a href="{{ url_for('main.signup') }}">Sign up</a> to Start.</h4>
        {% endif %}
    </div>

    <!-- Step 2: Upload File -->
    <div class="container mt-5 txt-custom">
        <div id="step2" class="form-section">
            <h2>Upload your resume</h2>
                <form action="/upload" class="dropzone dz-custom" id="my-dropzone">
                    <div class="dz-message needsclick">
                        <img class="image-view" src="{{ url_for('static', filename='images/button.png') }}">
                        <p>Drag and drop or click here <br> to upload your resume</p>
                    </div>
                </form>
            <div class="row">
                <button class="btn btn-primary" id="back-step2-btn">Voltar</button>
                <button class="btn btn-secondary" id="forw-step2-btn" >Continuar</button>
            </div>
        </div>
    </div>

    <!-- Step 3: Paste Job Description -->
    <div id="step3" class="form-section">
        <h2>Paste the Job Description</h2>
        <div class="text-container">
            <textarea class="form-control fc-custom" id="textPasteArea" placeholder="Paste your text here..." rows="10"></textarea>
        </div>
        <div class="row">
            <button class="btn btn-secondary" id="back-step3-btn">Voltar</button>
            <button class="btn btn-primary" id="forw-step3-btn" >Continuar</button>
        </div>
        <div id="messageArea"></div>
    </div>

    <!-- Step 4: Data Analysis -->
    <div id="step4" class="form-section">
        <h2>Data being analyzed...</h2>
        <div id="analysisResult">
            <!-- Placeholders where the data will be inserted -->
            <div id="content"></div>
            <div id="role"></div>
        </div>
        <button class="btn btn-primary" id="back-step4-btn">Back</button>
    </div>
{% endblock %}
