<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Password</title>
   
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/signin.css" />


    <style>
    </style>

  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
      {{ form.hidden_tag() }} 
      <img class="mb-4" src="../static/images/cv_crunch_trsp.png" alt=""  height="144">
      <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
        {{form.email.label(class_="sr-only")}}
        {{form.email(class_="form-control", id="email-pass-reset", placeholder="Email address", autofocus=true)}}

        
        <div class="checkbox mb-3">
  </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div id="alert-box-email" class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

  {{form.submit(class_="btn btn-lg btn-primary btn-block")}}
  <p class="mt-5 mb-3 text-muted">&copy;2024</p>
</form>

</body>
</html>
