* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: #9fc3b7 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

body, html {
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0px;
}

.content { 
    flex: 1;
}

.conteudo {
    padding-top: 150px; /* Height of the header */
    padding-bottom: 140px; /* Height of the footer */
    box-sizing: border-box; /* Ensure padding is included in the height */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    flex-wrap: nowrap;
}

body header .cv-crunch-header  {
    background-color: #2a2e37;  
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    
}
.cv-crunch-header .nav-link {
    color: #f0f0f0 !important;
    /*text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);*/
}

.nav-buttons button {
    min-width: 90px;
    min-height: 30px;
    font-size: 1rem;
    font-weight: bold;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


footer {
    padding: 20px;
    background-color: #2a2e37;
    width: 100%;
    margin-top: auto;
    position: relative;    
    text-align: center;
    justify-content: center;
    color:#f0f0f0;
}

footer .social .text-body-secondary {
    padding: 10px;
}

.container footer {
    margin-bottom: 0 !important;
}


.form-control {
    display: flex;
    height: 100%;
    border-radius: 20%;
}

.form-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2,
h4 {
    text-align: center;
    color: #333;
}

h2 {
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 0.2em;
    font-weight: normal;
}

.dropzone {
    position: relative;
    width: 100%; 
    height: 100%;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    max-width: 400px;
    min-height: 250px !important;
    border: none !important;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5) ;
    background-color: #f0f0f0 !important;
    margin-top: 5px;
}

/* Position the image in the top right of the Dropzone */
.tc-header,
.dropzone-header {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    z-index: 10; /* Ensure it appears above other content */
}

.dz-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.dropzone .dz-preview.dz-image-preview {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
}

.dropzone .dz-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */

}

.dz-space {
    position: relative;
    width: 100%; 
    height: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #318587;
    border: 10px solid #318587;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}


/* Optional: Adjust the spacing and visibility of the image */
.tc-header img, 
.dropzone-header img {
    display: block;
}

.circle-container {
    /* Make the container a square to hold the circular image */
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    position: relative;
    display: inline-block;
}

.circle-container img {
    /* Make the image circular */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6); /* Adjust the shadow as needed */
    position: absolute;
    top: 0;
    right: 0;
}

.resume-buttons,
.option-buttons,
.dropzone-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Ensures buttons are spaced around */
    margin-top: 10px;
    align-items: center;
    position: inherit;
    
}

.resume-buttons .btn,
.option-buttons .btn,
.dropzone-buttons .btn {
    flex: 1; /* Allows buttons to grow equally */
    margin: 0 5px; /* Adds some spacing between buttons */
    text-align: center;
    border-radius: 20px;
    max-width: 100px;
}

.text-container {
    position: relative;
    width: 100%; 
    height: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    border:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #318587;
    border: 10px solid #318587;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);

}

textarea.form-control.fc-custom {
    width: 100%; 
    height: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    border:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.text-container {
    padding: 20px;
}



.txt-custom {
    text-align: center;
}

.container-fluid .custom-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 20px;
    border: 10px solid #318587;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: #f0f0f0;
}

.resume-upload, .upload-job-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dz-custom {
    flex-grow: 1; 
    justify-content: center;
    align-items: center;;
}

h3 {
    color: #333; 
}

.btn-primary {
    background-color: #5c9d89 !important;
    border: 2px ridge #e2f2f2 !important;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5),
        inset 8px 0px 8px rgba(0, 0, 0, 0.5);
}

.btn-secondary {
    background-color: #d94716 !important;
    border: 2px ridge #e2f2f2 !important;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5),
        inset 8px 0px 8px rgba(0, 0, 0, 0.5);
}

.container-fluid .square {
    width: 120px; /* Size of the squares */
    height: 120px;
    background-color: #3498DB; /* Color of the squares */
    margin: 2px !important;
}

.squares-container {
    margin-bottom: 10px; 
    margin-top: 10px; 
}

.container-fluid .square1 {
    background-image: url('../images/score.png');
    border-radius: 10% 0% 0% 0%; /* Your custom border-radius */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); /* Your existing shadow */
    background-size: cover; /* Ensure the image covers the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating */
    -webkit-background-clip: border-box; /* Clip the background to the border box */
    background-clip: border-box;
    overflow: hidden; /* Hide anything outside the border-radius */
}

.container-fluid .square2 {
    border-radius: 0% 10% 0% 0%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    background-image: url('../images/gen_cv.jpg');
    background-size: cover; /* Ensure the image covers the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating */
    -webkit-background-clip: border-box; /* Clip the background to the border box */
    background-clip: border-box;
    overflow: hidden; /* Hide anything outside the border-radius */
}

.container-fluid .square3 {
    border-radius: 0% 0% 0% 10%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    background-image: url('../images/gen_cover_letter.jpg');
    background-size: cover; /* Ensure the image covers the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating */
    -webkit-background-clip: border-box; /* Clip the background to the border box */
    background-clip: border-box;
    overflow: hidden; /* Hide anything outside the border-radius */
}

.container-fluid .square4 {
    border-radius: 0% 0% 10% 0%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    background-image: url('../images/gen_report.png');
    background-size: cover; /* Ensure the image covers the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating */
    -webkit-background-clip: border-box; /* Clip the background to the border box */
    background-clip: border-box;
    overflow: hidden; /* Hide anything outside the border-radius */
}

footer .social .bi {
    fill: #f0f0f0 !important;
}